/* body */
body {
    color: white;
    background-color: slategrey;
    font-family: Helvetica;
}

/* custom bullets */
ul {
    margin: .5em 0 1.25em;
    padding: 0 0px;
    list-style: none;
}
ul li {
    background: url("bullet.png") no-repeat 2px .25em;
    margin: 0;
    padding: 0 0 3px 16px;
    margin-bottom: 3px;
    line-height: 1.4em;
}

/* cleaner hr */
hr {
	height: 2px;
	width: 50%;
	border-width: 0;
	text-align: left;
	margin-left: 0;
	color: whitesmoke;
	background-color: whitesmoke;
}
